.key-white {
  background: #fff;
  border-top: solid 1px var(--ifm-color-gray-300);
  border-left: solid 1px var(--ifm-color-gray-300);
  border-bottom: solid 1px var(--ifm-color-gray-300);
}

.key-black {
  background: var(--ifm-color-gray-800);
  color: #fff;
  border: solid 1px var(--ifm-color-gray-900);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.key-white:first-child {
  border-top-left-radius: var(--ifm-global-radius);
  border-bottom-left-radius: var(--ifm-global-radius);
}

.key-white:last-child {
  border-top-right-radius: var(--ifm-global-radius);
  border-bottom-right-radius: var(--ifm-global-radius);
  border-right: solid 1px var(--ifm-color-gray-300);
}

.key-active {
  background: var(--ifm-color-primary);
  border: solid 1px var(--ifm-color-primary-darker);
}

.key-active + .key-white {
  border-left: none;
}
