.label > span {
  cursor: default;
  text-align: center;
  display: block;
  font-size: 10px;
  line-height: 10px;
}

.label > span:first-child:last-child {
  font-size: 16px;
  line-height: 20px;
}

/* A couple adjustments to scale degree kerning */
/* .scale-degree .flat + .pitch-class-7 {
  margin-left: -0.08em;
} */
